
  <div class="demo-crumbs mdl-color-text--grey-500" >
    <h3 class="resolved_madlib">New Mad Lib created</h3>
  </div>

  <% @madlib.title ? title = @madlib.title : title = "MadLid #{@madlib.id}"%>
  <h2><%= title %></h2>

  <p>(Fill in the fields below according to their labels)</p>


<%= render :partial => 'solutions/solution_fields', :locals => {:madlib => @madlib, :solution => @solution} %>
