
        <div class="demo-crumbs mdl-color-text--grey-500" style="min-width:500px;">
          <p>Your solution has been created</p>
          <% @madlib.title ? title = @madlib.title : title = "MadLid #{@madlib.id}"%>
          <h2><%= title %></h2>
        </div>



      <%= @resolution %>

      <div class="demo-container " style="text-align: center;vertical-align:bottom;">
        <%= link_to 'Home', '/' %>
      </div>
